@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400,700,900&display=swap&subset=korean");
html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.nav_checkbox {
  display: none;
}

.nav_button {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 3rem;
  top: 3rem;
  z-index: 2000;
  background-color: #ffae00;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.nav_bg {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 3rem;
  top: 3rem;
  z-index: 1000;
  background-image: radial-gradient(#005912, #82a443);
  border-radius: 7rem;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.nav_checkbox:checked ~ .nav_bg {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.nav_icon {
  position: relative;
  margin-top: 2.5rem;
}

.nav_icon, .nav_icon::before, .nav_icon::after {
  width: 3rem;
  height: 2px;
  display: inline-block;
  background-color: #fff;
}

.nav_icon::before, .nav_icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav_icon::before {
  top: -.8rem;
}

.nav_icon::after {
  top: .8rem;
}

.nav_button:hover .nav_icon::before {
  top: -1rem;
}

.nav_button:hover .nav_icon::after {
  top: 1rem;
}

.nav_checkbox:checked ~ .nav_button .nav_icon {
  background-color: transparent;
}

.nav_checkbox:checked ~ .nav_button .nav_icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.nav_checkbox:checked ~ .nav_button .nav_icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nav_body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: -120%;
  top: 0;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.nav_list {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
}

.nav_link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
}

.nav_link:hover {
  color: #005912;
  background-position: 100%;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.nav_link span {
  display: inline-block;
  margin-right: 1.5rem;
}

.nav_checkbox:checked ~ .nav_body {
  opacity: 1;
  left: 0;
}

header {
  width: 100%;
  height: 100vh;
  background: #005912;
  position: relative;
}

header #header_logo {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
}

header #header_logo_text {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
  margin-top: 20px;
}

header #header_continue {
  width: 120px;
  position: absolute;
  left: 50%;
  margin: -60px;
  bottom: 130px;
}

header #header_continue_text {
  text-align: center;
  color: #fff;
  font-size: 2.1rem;
  font-weight: 100;
}

header #header_continue_bar {
  width: 1px;
  height: 50px;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  background: #fff;
}

main {
  width: 93%;
  padding-left: 7%;
  background-color: #ededed;
}

@media screen and (max-width: 980px) {
  main {
    width: 100%;
    padding-left: 0;
  }
}

main::after {
  content: "";
  display: block;
  clear: left;
}

main #about {
  width: 66%;
  float: left;
  padding-top: 150px;
}

@media screen and (max-width: 980px) {
  main #about {
    width: 87%;
    padding-left: 8%;
    padding-right: 5%;
    padding-bottom: 260px;
  }
}

@media screen and (max-width: 600px) {
  main #about {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1200px) {
  main #about {
    padding-top: 60px;
  }
}

main #about h2 {
  width: 95%;
  font-size: 2.8rem;
  line-height: 4.2rem;
  color: #005912;
  margin-bottom: 10px;
  -webkit-transition: all .7s;
  transition: all .7s;
}

main #about h2:hover {
  text-indent: 2rem;
}

main #about_list {
  width: 57%;
  float: left;
  margin-right: 5%;
}

@media screen and (max-width: 1200px) {
  main #about_list {
    width: 94%;
  }
}

main #about_list .about_list_title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  margin-top: 60px;
}

@media screen and (max-width: 1200px) {
  main #about_list .about_list_title {
    margin-top: 30px;
  }
}

main #about_list .about_list_text {
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: justify;
  color: #444;
  margin-top: 20px;
}

main #about_img {
  width: 33%;
  position: relative;
  float: left;
  margin-right: 5%;
}

@media screen and (max-width: 1200px) {
  main #about_img {
    width: 90%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 600px) {
  main #about_img {
    display: none;
  }
}

main #about_img .img {
  position: absolute;
  -webkit-transition: all .4s;
  transition: all .4s;
}

main #about_img .img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 10;
}

main #about_img .img:first-child {
  top: 70px;
  left: 0;
}

@media screen and (max-width: 1200px) {
  main #about_img .img:first-child {
    top: 50px;
  }
}

main #about_img .img:last-child {
  top: 220px;
  right: 0;
}

@media screen and (max-width: 1200px) {
  main #about_img .img:last-child {
    top: 50px;
  }
}

main #skill {
  width: 34%;
  float: left;
}

@media screen and (max-width: 980px) {
  main #skill {
    width: 100%;
  }
}

main #skill .skill_box {
  width: 100%;
  height: 180px;
  padding: 30px 0 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #faf5e4;
}

@media screen and (max-width: 980px) {
  main #skill .skill_box {
    width: 50%;
    float: left;
  }
}

@media screen and (max-width: 600px) {
  main #skill .skill_box {
    width: 100%;
  }
}

main #skill .skill_box:nth-child(2n) {
  background-color: #d9dccb;
}

@media screen and (max-width: 980px) {
  main #skill .skill_box:nth-child(3) {
    background-color: #d9dccb;
  }
}

@media screen and (max-width: 600px) {
  main #skill .skill_box:nth-child(3) {
    background-color: #faf5e4;
  }
}

@media screen and (max-width: 980px) {
  main #skill .skill_box:last-child {
    background-color: #faf5e4;
  }
}

@media screen and (max-width: 600px) {
  main #skill .skill_box:last-child {
    background-color: #d9dccb;
  }
}

main #skill .skill_box_title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #005912;
  margin-bottom: 20px;
}

main #skill .skill_box_list {
  margin-left: 15px;
}

main #skill .skill_box_list li {
  font-size: 1.4rem;
  line-height: 2.5rem;
  text-indent: 25px;
  color: #444;
  background: url("/images/checked.png") no-repeat;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #005912;
}

footer #footer_list {
  width: 80%;
  margin: 0 auto;
  padding-top: 70px;
}

footer #footer_list li {
  width: 33.3333%;
  float: left;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 100;
}

footer #footer_list li a {
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */